{% extends 'layout.html' %}
{% import '_macros.html' as macros %}
{% set p = current_page or 'index' %}
{% block content %}
    <div class="ui grid">
        <div class="three wide column">
            <div class="ui vertical menu">
                {{ macros.vertical_menu_item('index', 'Perfil', macros.profile_url(), p) }}
                {{ macros.vertical_menu_item('dispatch', 'Editar perfil', macros.profile_url('edit'), p) }}
                {{ macros.vertical_menu_item('ambulances', 'Agregar usuario', macros.profile_url('add'), p) }}
            </div>
        </div>
        <div class="thirteen wide column">
            {% block panel_content %}{% endblock %}
        </div>
    </div>
{% endblock %}