{% extends 'base.html' %}
{% if current_user.is_authenticated %}
    {% set endpoint_home = url_for('application.index') %}
{% else %}
    {% set endpoint_home = url_for('landing.index') %}
{% endif %}
{% block content %}
    <nav class="ui stackable menu">
        <div class="item">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Hospital">
        </div>
        <div class="right menu">
            <a href="{{ endpoint_home }}" class="item">Inicio</a>
            <a href="{{ url_for('landing.about') }}" class="item">Acerca</a>
            <a href="{{ url_for('landing.contact') }}" class="item">Contacto</a>
            {% if current_user.is_authenticated %}
                <div class="ui floating dropdown link item" id="user-dropdown">
                    <span class="text">{{ current_user.username | upper }}</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="{{ url_for('application.panel') }}" class="item">
                            <i class="dashboard icon"></i> Panel
                        </a>
                        <a class="item" href="{{ url_for('application.profile') }}">
                            <i class="user icon"></i> Perfil
                        </a>
                        <a class="item" href="{{ url_for('application.logout') }}">
                            <i class="sign out icon"></i> Salir
                        </a>
                    </div>
                </div>
            {% else %}
                <a href="{{ url_for('application.login') }}" class="item">Ingresar</a>
            {% endif %}
        </div>
    </nav>
{% endblock %}