{% extends 'app/panel/layout.html' %}
{% block panel_content %}
    <div class="ui vertical segment">
        <div class="ui container">
            <h1 class="ui header">Despachos</h1>
            <p>Gestión de los despachos de ambulancias hacia una emergencia</p>
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for cat, msg in messages %}
                        <div class="ui {{ cat }} message">
                            <i class="close icon"></i>
                            <div class="header">Notificación</div>
                            <p>{{ msg }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="ui vertical segment">
                <h2 class="ui header panel-header">Despachar</h2>
                <form method="POST" class="ui form">
                    {{ form.hidden_tag() }}
                    {{ form.emergency.hidden_tag() }}
                    <h3 class="ui header">Detalles de la emergencia</h3>
                    <div class="field">
                        {{ form.emergency.e_description.label }}
                        {{ form.emergency.e_description }}
                    </div>
                    <div class="field">
                        {{ form.emergency.address.label }}
                        {{ form.emergency.address }}
                    </div>
                    <div class="field">
                        {{ form.emergency.e_type.label }}
                        {{ form.emergency.e_type }}
                    </div>
                    <div class="two fields">
                        <div class="field">
                            {{ form.emergency.province.label }}
                            {{ form.emergency.province(class_='ui dropdown') }}
                        </div>
                        <div class="field">
                            {{ form.emergency.canton.label }}
                            {{ form.emergency.canton(class_='ui dropdown') }}
                        </div>
                    </div>
                    <h3 class="ui header">Detalles del despacho</h3>
                    <div class="field">
                        {{ form.ambulance.label }}
                        {{ form.ambulance(class_='ui dropdown') }}
                    </div>
                    <div class="field">
                        {{ form.team.label }}
                        {{ form.team(class_='ui dropdown') }}
                    </div>
                    <div class="two fields">
                        <div class="field">
                            {{ form.dispatch_hour.label }}
                            {{ form.dispatch_hour }}
                        </div>
                        <div class="field">
                            {{ form.arrival_hour.label }}
                            {{ form.arrival_hour }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form.status.label }}
                        {{ form.status(class_='ui dropdown') }}
                    </div>
                    <div class="field">
                        {{ form.distance.label }} (Aprox. en KM)
                        {{ form.distance }}
                    </div>
                    <input type="submit" value="Guardar" class="ui red button">
                </form>
                {% if form.errors %}
                    <div class="ui error message">
                        <i class="close icon"></i>
                        <div class="header">
                            Algunos datos sin inválidos
                        </div>
                        <ul class="list">
                            {% for e in form.errors %}
                                <li>{{ form.errors[e][0] }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="ui vertical segment">
                <h2 class="ui header panel-header">Listado de despachos</h2>
                <div class="ui statistics">
                    <div class="statistic">
                        <div class="value">
                            <i class="ambulance icon"></i> {{ dispatches | length }}
                        </div>
                        <div class="label">
                            Despachos
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="value">{{ dispatches | completed }}</div>
                        <div class="label">Completados</div>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="ui divided items">
                    {% for d in dispatches %}
                        <div class="item">
                            <div class="content">
                                <div class="header">Despacho #{{ d.id_emergency }}</div>
                                <div class="description">
                                    <div class="ui list">
                                        <div class="item">Se atiende {{ d.emergency.description }}
                                            en {{ d.emergency.address }}, {{ d.emergency.canton | string }}</div>
                                        <div class="item"><b>Hora de salida: </b>{{ d.dispatch_hour.strftime('%H:%M') }}
                                        </div>
                                        {% if d.arrival_hour %}
                                            <div class="item"><b>Hora
                                                llegada: </b>{{ d.arrival_hour.strftime('%H:%M') }}</div>
                                        {% endif %}
                                        {% if d.distance == None %}
                                            <div class="item"><b>Distancia desconocida</b></div>
                                        {% else %}
                                            <div class="item"><b>Distancia: </b>A unos {{ d.distance }}km
                                                aproximadamente
                                            </div>
                                        {% endif %}
                                        <div class="item"><b>Estado: </b>{{ d.pretty_status() }}</div>
                                        <div class="item"><b>Costo aproximado: </b>₡{{ d.fee }}</div>
                                        <div class="item"><b>Atiende: </b>Unidad #{{ d.ambulance.plate_number }}</div>
                                    </div>
                                </div>
                                <div class="extra">
                                    {% if d.status not in [4, 5] %}
                                        <a class="ui animated fade right floated blue button"
                                           href="{{ url_for('application.panel.dispatch') }}?complete={{ d.id_emergency }}"
                                           title="Marcar como completado" tabindex="0">
                                            <div class="visible content">Completar</div>
                                            <div class="hidden content">
                                                <i class="wizard icon"></i>
                                            </div>
                                        </a>

                                        <a href="{{ url_for('application.panel.dispatch') }}?cancel={{ d.id_emergency }}"
                                           class="ui animated fade right floated red button" title="Cancelar"
                                           tabindex="0">
                                            <div class="visible content">Cancelar</div>
                                            <div class="hidden content">
                                                <i class="ban icon"></i>
                                            </div>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}