{% extends 'app/panel/layout.html' %}
{% block panel_content %}
    <div class="ui vertical segment">
        <div class="ui container">
            <h1 class="ui header">Paramédicos</h1>
            <p>Gestión de los paramédicos del hospital</p>
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for cat, msg in messages %}
                        <div class="ui {{ cat }} message">
                            <i class="close icon"></i>
                            <div class="header">Notificación</div>
                            <p>{{ msg }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="ui vertical segment">
                <h2 class="ui header panel-header">Agregar un nuevo paramédico</h2>
                <form method="POST" class="ui form">
                    {{ form.hidden_tag() }}
                    <div class="field">
                        <label>{{ form.dni.label }}</label>
                        {{ form.dni }}
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>{{ form.name.label }}</label>
                            {{ form.name }}
                        </div>
                        <div class="field">
                            <label>{{ form.last_name.label }}</label>
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="field">
                        <label>{{ form.address.label }}</label>
                        {{ form.address }}
                    </div>
                    <div class="field">
                        <label>{{ form.phone_number.label }}</label>
                        {{ form.phone_number }}
                    </div>
                    <div class="three fields">
                        <div class="field">
                            <label>{{ form.salary.label }}</label>
                            {{ form.salary }}
                        </div>
                        <div class="field">
                            <label>{{ form.specialization.label }}</label>
                            {{ form.specialization(class_='ui dropdown') }}
                        </div>
                        <div class="field">
                            <label>{{ form.team.label }}</label>
                            {{ form.team(class_='ui dropdown') }}
                        </div>
                    </div>
                    <input type="submit" value="Guardar" class="ui red button">
                </form>
                {% if form.errors %}
                    <div class="ui error message">
                        <i class="close icon"></i>
                        <div class="header">
                            Algunos datos sin inválidos
                        </div>
                        <ul class="list">
                            {% for e in form.errors %}
                                <li>{{ form.errors[e][0] }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="ui vertical segment">
                <h2 class="ui header panel-header">Listado de paramédicos</h2>
                <div class="ui statistics">
                    <div class="statistic">
                        <div class="value">
                            <i class="ambulance icon"></i> {{ paramedics | length }}
                        </div>
                        <div class="label">
                            Paramédico(s)
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="value">{{ available | length }}</div>
                        <div class="label">Disponibles</div>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="ui items">
                    {% for p in paramedics %}
                        <div class="item">
                            <div class="content">
                                <div class="header">{{ p.name }} {{ p.last_name }}</div>
                                <div class="description">
                                    <p></p>
                                    <p></p>
                                </div>
                                <div class="extra">
                                    {% if p.available %}
                                        <i class="green check icon"></i> Disponible
                                    {% else %}
                                        <i class="red remove icon"></i> No disponible
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}