{% extends 'app/panel/layout.html' %}
{% block panel_content %}
    <div class="ui vertical segment">
        <div class="ui container">
            <h1 class="ui header">Equipos</h1>
            <p>Gestión de los equipos paramédicos del hospital</p>
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for cat, msg in messages %}
                        <div class="ui {{ cat }} message">
                            <i class="close icon"></i>
                            <div class="header">Notificación</div>
                            <p>{{ msg }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="ui vertical segment">
                <h2 class="ui header panel-header">Agregar un nuevo equipo</h2>
                <form method="POST" class="ui form">
                    {{ form.hidden_tag() }}
                    <div class="two fields">
                        <div class="field">
                            {{ form.type.label }}
                            {{ form.type(class_='ui dropdown') }}
                        </div>
                        <div class="field">
                            {{ form.fee.label }}
                            {{ form.fee }}
                        </div>
                    </div>
                    <input type="submit" value="Guardar" class="ui red button">
                </form>
                {% if form.errors %}
                    <div class="ui error message">
                        <i class="close icon"></i>
                        <div class="header">
                            Algunos datos sin inválidos
                        </div>
                        <ul class="list">
                            {% for e in form.errors %}
                                <li>{{ form.errors[e][0] }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="ui vertical segment">
                <h2 class="ui header panel-header">Listado de equipos</h2>
                <div class="ui statistics">
                    <div class="statistic">
                        <div class="value">
                            <i class="ambulance icon"></i> {{ teams | length }}
                        </div>
                        <div class="label">
                            Equipos(s)
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="value">{{ teams | available_assets }}</div>
                        <div class="label">Disponibles</div>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="ui items">
                    {% for t in teams %}
                        <div class="item">
                            <div class="content">
                                <div class="header">{{ t._pretty_type() }}, ₡{{ t.operation_fee }}</div>
                                <div class="description">
                                    Integrantes:
                                    <div class="ui list">
                                        <div class="item">
                                            {% for m in t.members %}
                                                <p><i class="user icon"></i> {{ m | string }}, {{ m.specialization }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="extra">
                                    {% if t.available %}
                                        <i class="green check icon"></i> Disponible
                                    {% else %}
                                        <i class="red remove icon"></i> No disponible
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}